*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.input{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 150px;
    
}
h1{
    margin-bottom: 50px;
    width: 505px;
   
}
.input input{
    border: 1px solid rgb(204, 196, 196);
    display: flex;
    align-items: center;
}
.input-button{
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
    
}
.fa-plus{
    border-radius: 50%;
    border: 1px solid green;
    font-size: 18px;
    padding: 4px;
    background-color: green;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    
}
.app-inp{
    width: 456px;
    padding: 10px;
}

body{
    background-image: url("./Components/Bitmap.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
